[Unit]
Description=Heka is a high performance general purpose data acquisition and processing engine.

[Service]
ExecStart=/usr/bin/hekad -config=/etc/heka
Restart=on-failure

[Install]
Alias=heka.service
WantedBy=multi-user.target
