[Unit]
Description=Mozilla Heka

[Service]
ExecStart=/usr/bin/hekad -config=/etc/heka
Restart=on-failure

[Install]
Alias=heka.service
WantedBy=multi-user.target
