<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

<dict>

    <key>Label</key>

    <string>com.mozilla.heka</string>

    <key>UserName</key>

    <string><%= @user %></string>

    <key>ProgramArguments</key>

    <array>

        <string>/usr/bin/hekad</string>

        <string>-config=<%= @conf_dir %></string>

    </array>

    <key>KeepAlive</key>

    <true/>

</dict>

</plist>
